In [15]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import sweetviz as sv
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [27]:
df= pd.read_csv("data_start_14.03.csv")

In [23]:
df.drop('Unnamed: 0',axis =1 , inplace = True)

In [28]:
df

,SEQN,GENDER,AGE,ETHNICITY,EDUCATION,HOUSE_INDIV,FAMILY_SIZE,FAM_INCOME,sw_pregnant,INTERVIE_wgt,...,CAD,CHF,MI,STROKE,FAMILY_DIAB,sw_asthma_ever,sw_overweight,sw_malignancy,RENAL,DIALYSIS
0,41475,2,62,5,3.0,2,2,6.0,NaN,59356.356426,...,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,0.0
1,41476,2,6,5,NaN,6,6,15.0,NaN,35057.218405,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,41477,1,71,3,3.0,2,2,5.0,NaN,9935.266183,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
3,41478,2,1,3,NaN,4,4,3.0,NaN,12846.712058,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,41479,1,52,1,1.0,5,5,8.0,NaN,8727.797555,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59837,102952,2,70,5,3.0,2,2,4.0,NaN,16896.276203,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0
59838,102953,1,42,1,3.0,1,1,12.0,NaN,61630.380013,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,0.0
59839,102954,2,41,4,5.0,7,7,10.0,2.0,17160.895269,...,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,0.0
59840,102955,2,14,4,NaN,4,4,9.0,NaN,14238.445922,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
59841,102956,1,38,3,4.0,5,4,7.0,NaN,38645.740291,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,0.0

In [29]:
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [30]:
profile.to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]